*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: #18181b;
    font-family: 'Raleway';
    line-height: 1;
    padding: 7%;
    color: white;

}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
}
.title{
    margin: 10px 0px;
}
.subtitle{
    color: hsl(60 5% 90%);
    font-weight: 300;
    margin-top: 10px;
}

.btn{
    width: 14%;
    min-width: 80px;
    min-height: 41px;
    padding: 10px 11px;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 0 0 22px 25px;
}

.btn:hover{
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    
}

input[type="number"] {
    width: 50%;
    min-width: 80px;
    min-height: 45px;
    padding: 10px 11px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

input[type="number"]::placeholder {
    color: #bbb;
}

.input-group:nth-child(7) {
    grid-column: 2 / 3;
}

@media screen and (max-width: 768px) {


    body{
        padding: 4%;
    }
    .input-group:nth-child(7) {
        grid-column: 1 / 2;
    }

}